.scaffold-layout__main{
    grid-area: main;
}

.scaffold-layout .artdeco-card{
    border-radius: 0.8rem;
}

.pv-top-card{
    overflow: visible;
}

.artdeco-card{
    background-color: rgb(255, 255, 255);
    transition: box-shadow 83ms;
    position: relative;
    box-shadow: 0px,0px,0px,1px black;
    border-radius: 0.8rem;
}

.live-video-hero-image{
    border-top-left-radius: 0.8rem ;
    border-top-right-radius: 0.8rem;
    position: relative;
    overflow-y: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: max-height;
    transition-delay: 0s;
}

.live-video-hero-image__bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    transition-delay: 1s;
    opacity: 1;
}

.profile-background-image{
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    cursor: pointer;
}

.profile-background-image__image-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.relative{
    position: relative!important;
}

.full-height{
    height: 100%!important;
}

.full-width{
    width: 100%!important;
}

img{
    color: black;
}

.profile-topcard-background-image-edit__button
.profile-topcard-background-image-edit__icon{
    line-height: 1.5rem;
    position: absolute;
    top: calc(1.6rem + 0.4rem);
    right: calc(1.6rem + 0.4rem);
}

.live-video-hero-image__live-video{
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    transition-delay: 0s;
    opacity: 0;
}

.ph5{
    padding-left: 2.4rem!important;
    padding-right: 2.4rem!important;
}

.display-flex{
    display: flex!important;
}

.pv-top-card--photo{
    margin-top: -112px;
    z-index: 4;
}

.text-align-left{
    text-align: left!important;
}

.pv-top-card__photo-wrapper {
    background-clip: border-box;
    background-color: white;
}

.pv-top-card__photo-wrapper {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 49.9%;
}

.pv-top-card__photo-wrapper {
    border: 4px solid white;
    box-shadow: none;
    margin: auto;
    position: relative;
}

.ml0{
    margin-left: 0!important;
}

.pv-top-card__edit-photo{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
}

.profile-photo-edit{
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.profile-photo-edit__edit-btn{
    line-height: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    touch-action: manipulation;
    font-family: inherit;
    margin-bottom: 0;
    box-sizing: inherit;
    appearance: normal;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;

}

.pv-top-card__edit-photo .profile-photo-edit__preview{
    width: 152px;
    height: 152px;

}

.profile-photo-edit__preview{
    border-radius: 50%;
}

img{
    color:black;

}

.profile-photo-edit__edit-icon-container.profile-photo-edit__edit-icon-container.profile-photo-edit__edit-icon-container{
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    bottom: 6px;
    right: 8px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px none;
    color: blue;
}

.pv-top-card__edit-photo .profile-photo-edit__edit-icon-container{
    display: none;

}

.profile-photo-edit__edit-icon-container {
    display: inline-flex;
}

.flex-1{
    flex: 1!important;
}

.pv-top-card__badge-wrap {
    margin-right: -1.2rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.artdeco-button--circle.artdeco-button, .artdeco-button--circle.artdeco-button--2 {
    height: 4rem;
    width: 4rem;
    min-width: auto;
}

.artdeco-button--muted.artdeco-button--tertiary{
    background-color: none;
    color: darkgray;
}

.mh1 {
    margin-left: 0.4rem!important;
    margin-right: 0.4rem!important;
}

.artdeco-button--circle{
    border-radius: 50%!important;
    padding: 0!important;
}

.artdeco-button{
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    align-items: center;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    max-width: 480px;
    overflow: hidden;
    text-align: center;
    transition-property: background-color,box-shadow,color;
    vertical-align: middle;
}

.artdeco-button, .artdeco-button--2{
    font-size: 1.6rem;
    min-height: 3.2rem;
    line-height: 2rem;
}

.relative{
    position: relative!important;
}

.mt2{
    margin-top: 0.8rem!important;
}

.pv-text-details__left-panel {
    max-width: calc(100% - 232px - 2.4rem);
}

.pv-text-details__left-panel {
    line-height: 1rem;
}

.text-heading-xlarge {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
}

.break-words {
    word-wrap: break-word!important;
    word-break: break-word!important;
}

.v-align-middle {
    vertical-align: middle!important;
}

.inline {
    display: inline!important;
}

.t-24{
    font-size: 2.4rem;
    line-height: 1.33333;
}

h1 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    outline: 0;
}

.pv-top-card-v2-ctas{
    display: flex;
    padding-top: 1.2rem;
}

.mr2 {
    margin-right: 0.8rem!important;
}

.artdeco-dropdown {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.artdeco-dropdown__content--placement-bottom.artdeco-dropdown__content--justification-left {
    border-radius: 0 0.8rem 0.8rem 0.8rem !important;
}

.artdeco-dropdown__content {
    background-color: white!important;
}

.artdeco-dropdown__content--justification-left {
    left: 0;
    right: auto;
}

.artdeco-dropdown__content--placement-bottom {
    top: calc(100% + 8px);
    bottom: auto;
}

.artdeco-dropdown__content {
    background-clip: padding-box;
    transition: visibility 0s linear 167ms,opacity 167ms cubic-bezier(.4,0,1,1) 0s,z-index 0s linear 167ms;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    display: inline-block;
    position: absolute;
    min-width: 168px;
    max-width: 26.4rem;
    max-height: 54.8rem;
    box-sizing: border-box;
}

.pvs-profile-actions {
    display: inline-flex;
}

.mr2 {
    margin-right: 0.8rem!important;
}

.pvs-overflow-actions-dropdown__content {
    width: max-content;
}
