<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jaknet</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/img/logo.png" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/blog.css" rel="stylesheet" />
        <link href="/css/styleslogin.css" rel="stylesheet"/>
        <link href="/css/usuario.css" rel="stylesheet" />

        
    </head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0 imaemf">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg py-3 shadow">
            <div class="container px-5">
                <a class="navbar-brand" href="/">
                  <img src="/assets/img/logo.png" class="logonav" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#services"><span>Nuestros Servicios</span><i class="bi bi-chevron-down menu-icon"></i></a>
                          <ul>
                            <li class="nav-fill"><a class="nav-link" href="/infraestructura">Infraestructura de Red</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/sistemaseguridad">Sistemas de Seguridad</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/telecomunicaciones">Telecomunicaciones</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/smarth">Smart-Home</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/energia">Energía</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/software">Software</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/hardware">Harware</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/asesoria">Asesoría y Proyectos TI</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/cloud">Cloud Computing</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">Sobre Nosotros</a></li>
                        <label class="switch nav-item mb-2 px-2">
                          <input type="checkbox" id="darkModeToggle">
                          <span class="slider round"></span>
                        </label>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5 ">
                <div class="row gx-5 align-items-center">
                    <div class="col-xl-12" >
                        <!-- Header text content-->
                        <div class="text-center text-xxl-center" >
                            <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Cableado Estructurado &middot; Videovigilancia &middot; Seguridad &middot; Asesoría</div></div>
                            <div class="fs-3 fw-light text-muted">Soluciones Tecnológicas</div>
                            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Enfocados al cliente</span></h1>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
                          <!--Indicadores de imagenes-->
                          <ol class="carousel-indicators">
                            <li data-bs-target="#imageSlider" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="1"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="2"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="3"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="4"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="5"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="6"></li>
                            <li data-bs-target="#imageSlider" data-bs-slide-to="7"></li>
                          </ol>
                          <!--Slides de imagenes -->
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img src="/assets/img/slide/s1.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s2.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s3.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s4.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s5.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s6.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s7.png" class="d-block w-100" alt="slide1">
                            </div>
                            <div class="carousel-item">
                              <img src="/assets/img/slide/s8.png" class="d-block w-100" alt="slide1">
                            </div>
                          </div>
                          <!-- Controles de navegación -->
                          <a class="carousel-control-prev" href="#imageSlider" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#imageSlider" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Servicios-->
        <section id="services" class=" py-5 imaemf">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center ">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Nuestros Servicios</span></h2>
                            <p class="lead text-white mb-4">Contamos con un amplia gama de productos y servicios desarrollados por nuestro personal altamente capacitado. </p>
                            
                            <div class="row justify-content-center">

                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                  <div class="box">
                                    <div class="icon"><a href="/infraestructura"><i class="bi bi-ethernet" style="color: #ff689b;"></i></a></div>
                                    <h4 class="title"><a href="/infraestructura">Infraestructura de Red</a></h4>
                                    <p class="description">La infraestructura de red es el corazón de la comunicación y acceso a la información en cualquier empresa. No te conformes con un trabajo simple y sin escalabilidad. </p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                                  <div class="box">
                                    <div class="icon"><a href="/sistemaseguridad"><i class="bi bi-fingerprint" style="color: #e9bf06;"></i></a></div>
                                    <h4 class="title"><a href="/sistemaseguridad">Sistemas de Seguridad</a></h4>
                                    <p class="description">Ofrecemos instalación y puesta a punto de los mejores equipos y sistemas de videovigilancia CCTV y seguridad para que estes siempre protegido.</p>
                                  </div>
                                </div>
                      
                              
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                                  <div class="box">
                                    <div class="icon"><a href="/telecomunicaciones"><i class="bi bi-broadcast-pin" style="color:#41cf2e;"></i></a></div>
                                    <h4 class="title"><a href="/telecomunicaciones">Telecomunicaciones</a></h4>
                                    <p class="description">No hay nada más importante en un buen equipo que la comunicación. Ponemos a tu disposición los mejores equipos de radiocomunicación que se adaptan a cualquier entorno y trabajo. </p>
                                  </div>
                                </div>
                      
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                  <div class="box">
                                    <div class="icon"><a href="/smarth"><i class="bi bi-router" style="color: #4680ff;"></i></a></div>
                                    <h4 class="title"><a href="/smarth">Smart-Home</a></h4>
                                    <p class="description">Te ofrecemos los mejores equipos y sistemas con la más reciente tecnología para hacer de tu hogar un sistema inteligente en la palma de tu mano con IoT y los sistemas Smart-Home.</p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                                  <div class="box">
                                    <div class="icon"><a href="/energia"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></a></div>
                                    <h4 class="title"><a href="/energia">Energía</a></h4>
                                    <p class="description">Proteger tus equipos electrónicos de descargas inesperadas, tener respaldos de energía con plantas y generadores, o integrarte al negocio energético con paneles solares, etc.</p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                  <div class="box">
                                    <div class="icon"><a href="/software"><i class="bi bi-code-slash" style="color: #22ffbd;"></i></a></div>
                                    <h4 class="title"><a href="/software">Software</a></h4>
                                    <p class="description">Manejamos el mejor software para cualquier
                                      necesidad como lo son Office Productivity Software, SW Almacenamiento, SW Gestionamiento IT, SW Virtualización, SW Desarroll, SW Entretenimiento, Sw Finanzas, etc.</p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                                  <div class="box">
                                    <div class="icon"><a href="/hardware"><i class="bi bi-motherboard" style="color: #e946ff;"></i></a></div>
                                    <h4 class="title"><a href="/hardware">Hardware</a></h4>
                                    <p class="description">Contamos con los mejores equipos de cómputo del momento, desde All-in-1, UltraBooks, Desktops y Laptops.</p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                  <div class="box">
                                    <div class="icon"><a href="/asesoria"><i class="bi bi-briefcase" style="color: #28a81c;"></i></a></div>
                                    <h4 class="title"><a href="/asesoria">Asesoría y Proyectos TI</a></h4>
                                    <p class="description">Apoyo en contratación de
                                      personal de TI, definición de procesos de
                                      trabajo con buenas prácticas de TI basados en ITIL (mesa de
                                      ayuda), asesoría para compra de equipo y tecnología.</p>
                                  </div>
                                </div>
                                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                                  <div class="box">
                                    <div class="icon"><a href="/cloud"><i class="bi bi-cloud-check" style="color: #ff4646;"></i></a></div>
                                    <h4 class="title"><a href="/cloud">Cloud Computing</a></h4>
                                    <p class="description">En colaboración con las mejores marcas ponemos a tu alcance las mejores soluciones para tu centro de datos, te brindamos los mejores servidores de almacenamiento y de información, para que tu equipo crezca a la par de tu negocio.</p>
                                  </div>
                                </div>
                            </div>
                            <p class="lead text-white mb-4">Estos solo son algunos de los servicios que podemos ofrecerte. Selecciona alguno y descubre todo lo que tenemos para ti </p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Socios-->
        <!-- <section id="clients" class="py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-1">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Partners</span></h2>
                            <div class="row justify-content-center">

                                <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-1.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-2.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-3.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-4.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-5.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-6.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-7.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                    <div class="col-lg-3 col-md-4 col-xs-6">
                                      <div class="client-logo">
                                        <img src="/assets/img/clients/client-8.png" class="img-fluid2" alt="">
                                      </div>
                                    </div>
                          
                                  </div>
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>             -->
    </main>
    <!-- Footer-->
    <footer class="py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; Jaknet</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Terminos</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="/contacto">Contacto</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="js/carrusel.js"></script>
    <script src="js/darkmode.js"></script>
</body>
</html>
