<%-include ('./partials/head',{titulo:'Perfil'}) %>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow">
            <div class="container px-5">
                <a class="navbar-brand" href="/home">
                  <img src="assets/img/logo.png" class="logonav" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/home">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/servicios">Nuestros Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container scaffold-layout__main py-3 border-0 mb-5">
          <section id="ember372" class="artdeco-card ember-view pv-top-card shadow ">
            <div class="live-video-hero-image" style="min-height: 200px; max-height: 200px;">
              <div class="live-video-hero-image__bg-image">
                <div class="profile-topcard-background-image-edit">
                  <div tabindex="-1" class="profile-background-image">
                    <div class="profile-background-image__image-container">
                      <img class="profile-background-image__image relative full-width full-height" id="profile-background-image-target-image" alt="portada" src="assets/img/cableado/cableadoestructurado.jpg" style="left: 0px; top: 0px">
                    </div>
                  </div>
                  <div class="profile-topcard-background-image-edit__button">
                    <div id="profile-topcard-background-image-edit-outlet"></div>
                    <section class="profile-topcard-background-image-edit__icon">
                      <!--button aria-label="Edita tu foto portada" id="ember261" class=""></button-->
                    </section>
                  </div>
                </div>
                <div id="ember262" class="ember-view">
                  <!---->
                </div>
                <div id="ember263" class="ember-view">
                  <!---->
                </div>
                <div id="ember264" class="ember-view">
                  <!---->
                </div>
              </div>
              <div class="live-video-hero-image__live-video">
                <!---->
              </div>
            </div>
            <div class="ph5">
              <div class="display-flex">
                <div class="pv-top-card--photo text-align-left pv-top-card--photo-resize">
                  <div class="pv-top-card__photo-wrapper ml0">
                    <div class="profile-photo-edit pv-top-card__edit-photo">
                      <button class="profile-photo-edit__edit-btn" type="button">
                        <img width="200" src="assets/profile.png" height="200" alt="Usuario" id="ember265" class="evi-image ember-view profile-photo-edit__preview">
                        <div class="profile-photo-edit__edit-icon-container">
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
                <!--Aqui iran div para modificar foto-->
                <div class="flex-1 flex-column">
                  <div class="pv-top-card__badge-wrap">
                    <!---->
                    <div>
                      <a href="usuario.html" id="ember224" class="ember-view" tabindex="-1">
                        <button aria-label="Editar presentacion" id="ember225" class="artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view mh1" type="button">
                          <span><i class="fab fa-whatsapp"></i></span>
                        </button>
                      </a>
                    </div>
                    <!---->
                  </div>
                </div>
              </div>
              <div class="mt2 relative">
                <div class="pv-text-details__left-panel">
                  <div>
                    <h1 class="text-heading-xlarge inline t-24 v-align-middle break-words">Nombre del cliente</h1>
                  </div>
                  <!---->
                  <div class="text-body-medium break-words"><span class="text-muted h4">Cliente</span></div>
                </div>
              </div>
              <!---->
              <div class="pv-top-card-v2-ctas">
                <div id="ember336" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view pv-top-card-add-goals mr2">
                  <a class="btn btn-primary btn-lg" href="#">Ver Carrito
                  </a>
                  <div tabindex="-1" aria-hidden="true" id="ember338" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view">
                    <!---->
                  </div>
                </div>
                <a class="btn btn-outline-dark btn-lg mr2" href="#">Ir a Tienda
                </a>
                <div class="pvs-profile-actions pvs-profile-actions--overflow">
                  <!---->
                  <!---->
                  <!---->
                  <div id="ember230" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view">
                    <a class="btn btn-outline-dark btn-lg" href="#">Editar Datos</a>
                    <div tabindex="-1" aria-hidden="true" id="ember232" class="pvs-overflow-actions-dropdown__content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view">

                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
              <!---->
            </div>
            <div id="profile-sticky-header-toggle"></div>
            <br>
          </section>
          <!--Si quiero otra seccion se va a ver como card-->
        </div>
    </main>
<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto"><div class="small m-0">Copyright &copy; JakNet</div></div>
          <div class="col-auto">
              <a class="small" href="#!">Privacy</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Terms</a>
              <span class="mx-1">&middot;</span>
              <a class="small" href="#!">Contact</a>
          </div>
      </div>
  </div>
</footer>
</body>
</html>
