<%-include ('./partials/head',{titulo:'Registro'}) %>

<body class="d-flex flex-column h-100">
    <main class=" flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" class="logonav" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/home">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/servicios">Nuestros Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/perfil">Zona de Usuario</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Formulario de registro-->
        <div class="container px-5 pb-5 text-center">
            <h1 class="display-3 fw-bolder mb-5 py-5"><span class="text-gradient d-inline">Registro</span></h1>
        </div>
        <div class="block">
            <div class=" container">
                <div class="progreso">
                    <div class="paso">
                        <p>General</p>
                        <div class="num">
                            <span>1</span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                    <div class="paso">
                        <p>Residencia</p>
                        <div class="num">
                            <span>2</span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                    <div class="paso">
                        <p>Contacto</p>
                        <div class="num">
                            <span>3</span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                    <div class="paso">
                        <p>Usuario</p>
                        <div class="num">
                            <span>4</span>
                        </div>
                        <div class="check fas fa-check"></div>
                    </div>
                </div>

                <div class="formulario">
                    <form action="#" method="post">
                        <!--PAGINA 1-->
                        <div class="registro movPag card2">
                            <div class="titulo">Infomación Personal</div>
                            <div class="campo">
                                <div class="label">Nombre(s): <b class="error" id="validaNombre"></b> </div>
                                <input type="text" id="nombre" placeholder="Nombre(s)">
                            </div>
                            <div class="campo">
                                <div class="label">Apellido: <b class="error" id="validaApellidoP"></b> </div>
                                <input type="text" id="apellidop" placeholder="Primer apellido">
                            </div>
                            <div class="campo">
                                <div class="label">Fecha de nacimiento:</div>
                                <input type="date" id="nacimiento" min="2001-01-01" max="2007-01-01" value="2001-01-01" >
                            </div>
                            <div class="campo">
                                <div class="label">CURP: <b class="error" id="validaCurp"></b></div>
                                <input type="text" id="CURP" placeholder="">
                            </div>
                            <div class="campo">
                                <div class="label">Sexo: <b class="error" id="validaSexo"></b></div>
                                <select id="sexo">
                                    <option value="-1" disabled selected>Escoge una opción</option>
                                    <option value="0">Masculino</option>
                                    <option value="1">Femenino</option>
                                    <option value="2">Otro</option>
                                </select>
                            </div>
                            <div class="campo sigPag">
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder">Siguiente</a>
                            </div>
                        </div>

                        <!-- pagina 2 Direccion-->
                        <div class="registro movPag card2">
                            <div class="titulo">Residencia</div>
                            <div class="campo">
                                <div class="label">País <b class="error" id="validaPais"></b></div>
                                <input type="text" id="pais" placeholder="Pais"  >
                            </div>
                            <div class="campo">
                                <div class="label">Estado <b class="error" id="validaEstado"></b></div>
                                <input type="text" id="estado" placeholder="Estado"  >
                            </div>
                            <div class="campo">
                                <div class="label">Código Postal <b class="error" id="validaCP"></b></div>
                                <input type="text" id="cp" placeholder="C.P." minlength="5" maxlength="5" >
                            </div>
                            <div class="campo">
                                <div class="label">Comprobante de domicilio <b class="error" id="validaActas"></b></div>
                                <input class="Archivo" type="file" id="CD" placeholder="Comprbante"  >
                            </div>
                            <div class="campo botones">
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder atrasp1 volver">
                                    Anterior
                                </a>
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder adelantep2 adelante">Siguiente</a>
                            </div>
                        </div>

                        <!--InFormacion de contacto -->
                        <div class="registro movPag card2">
                            <div class="titulo">Información de contacto</div>
                            <div class="campo">
                                <div class="label">Número celular <b class="error" id="validaCelular"></b></div>
                                <input type="text" id="celular" placeholder="" minlength="10" maxlength="10" >
                            </div>
                            <div class="campo">
                                <div class="label">Correo electrónico <b class="error" id="validaEmail"></b></div>
                                <input type="text" id="email" placeholder="">
                            </div>
                            <div class="campo botones">
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder atrasp2 volver">Anterior</a>
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder adelantep1 adelante">Siguiente</a>
                            </div>
                        </div>

                        <!--InFormacion de la cuenta-->
                        <div class="registro card2">
                            <div class="titulo">Cuenta</div>
                            <div class="campo">
                                <div class="label">Nombre de Usuario <b class="error" id="validaUser"></b></div>
                                <input type="text" id="nUser" placeholder="Nombre de usuario"  >
                            </div>
                            <div class="campo">
                                <div class="label">Contraseña <b class="error" id="validaPsswd"></b></div>
                                <input type="password" id="psswd"  placeholder="Debe constra de al menos 7 caracteres" >
                                <span class="show-btn"><i class="fas fa-eye" id="eye1"></i></span>
                            </div>
                            <div class="campo">
                                <div class="label">Repita la Contraseña <b class="error" id="validaPsswdR"></b></div>
                                <input type="password" id="psswdR" placeholder="Las contraseñas deben coincidir" >
                                <span class="show-btn"><i class="fas fa-eye" id="eye2"></i></span>
                            </div>
                            <div class="campo">
                                <div class="label">Pregunta de seguridad<b class="error" id="validaQues"></b></div>
                                <select id="ques">
                                    <option value="-1" disabled selected>Escoga una opción</option>
                                    <option value="0">Nombre de tu mascota de la infancia</option>
                                    <option value="1">Equipo favorito</option>
                                    <option value="2">Color favorito</option>
                                </select>
                            </div>
                            <div class="campo">
                                <div class="label">Respuesta <b class="error" id="validaRespuesta"></b></div>
                                <input type="text" id="respuestaSeg" placeholder="Respuesta"   >
                            </div>
                            <div class="campo botones">
                                <a class="btn btn-outline-dark btn-lg fs-6 fw-bolder atrasp3 volver">Anterior</a>
                                <a class="btn btn-outline-primary btn-lg fs-6 fw-bolder fin">Finalizar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/movimiento.js"></script>    
</body>

</html>