<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Servicios</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/img/logo.png" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/blog.css" rel="stylesheet" />
        <link href="/css/styleslogin.css" rel="stylesheet"/>
        <link href="/css/usuario.css" rel="stylesheet" />

        
    </head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg py-3 shadow">
            <div class="container px-5">
                <a class="navbar-brand" href="/">
                    <img src="assets/img/logo.png" class="logonav" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#services"><span>Nuestros Servicios</span><i class="bi bi-chevron-down menu-icon"></i></a>
                          <ul>
                            <li class="nav-fill"><a class="nav-link" href="/infraestructura">Infraestructura de Red</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/sistemaseguridad">Sistemas de Seguridad</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/infraestructura">Comunicaciones</a></li>
                            <li class="nav-fill"><a class="nav-link" href="/infraestructura">Radio Comunicacion</a></li>
                          </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">Sobre Nosotros</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Projects Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Servicios</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!--Apartado 1-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="Infra">Infraestructura de Red</h2>
                        </div>
                        <!--Cableado Estructurado-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Cableado Estructurado</h2>
                                        <p>La infraestructura de red es el corazón de la comunicación y acceso a la información en cualquier empresa. 
                                            No te conformes con un trabajo simple y sin escalabilidad. Somos profesionales en el ramo, te brindamos la mejor calidad con los mejores estándares internacionales. 
                                            Obtén una escalabilidad modular que le permitirá a tu infraestructura crecer de la mano de tu negocio.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/cableado/router45.jpg" alt="cableado estructurado" />
                                </div>
                            </div>
                        </div>
                        <!--Apartado 2-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="seguridad">Sistemas de Seguridad</h2>
                        </div>
                        <!-- Videovigilancia-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Videovigilancia</h2>
                                        <p>Ofrecemos instalación y puesta a punto de los mejores equipos y sistemas de videovigilancia CCTV y 
                                            seguridad para que estes siempre protegido. Ponemos a tu alcance las cámaras de la mejor calidad para 
                                            que sin importar el entorno, la hora o el clima siempre tengas la mejor imagen. </p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/SeguridadyVideovigilancia/camara145.jpg" alt="Seguridad y Videovigilancia" />
                                </div>
                            </div>
                        </div>
                        <!-- Control de acceso-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Control de Acceso</h2>
                                        <p>Tenemos para ti los mejores sistemas de control de acceso e identificación para que nunca tengas problemas de intrusión. 
                                            Aprovecha las mejores tecnologías de identificación biométrica para el control de acceso dinámico y sin contacto de las
                                            marcas líderes del mercado.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                        <img class="img-fluid" src="/assets/img/controldeacceso/controlacc45.jpg" alt="control de acceso" />
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Alarmas de intrusion-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Alarmas de Intrusión</h2>
                                        <p>Mantente seguro y protege tu patrimonio con los mejores sistemas de intrusión. Sin falsas alarmas por mascotas o aves, y operando con la mejor precisión.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/alarmasydetecciondeintrusos/alarmas45.jpg" alt="alarmas" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 3-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="comus">Comunicaciones</h2>
                        </div>
                        <!-- Project Card 8-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Localización y Telemática Vehicular</h2>
                                        <p>Ten el control de tus flotillas vehiculares para cualquier giro de negocio con nuestras soluciones de GPS y Telemática vehicular de las 
                                            marcas líderes del mercado que no solo te permiten conocer la ubicación de tus unidades, conoce también en tiempo real ciertas características de tus productos o del comportamiento de tus conductores.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/telematicavehicular/gps45.jpg" alt="Telemática Vehicular" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 4-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="radio">Radio Comunicación</h2>
                        </div>
                        <!-- Radio y comunicacion-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Radio</h2>
                                        <p>No hay nada más importante en un buen equipo que la comunicación. 
                                            Ponemos a tu disposición los mejores equipos de radiocomunicación que se adaptan a cualquier entorno y trabajo. 
                                            Contamos con los mejores accesorios para que los radios sean una herramienta que te hagan la vida más fácil.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/radioycomunicacion/radio345.jpg" alt="radio y comunicacion" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 5-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="smart">Smart-Home</h2>
                        </div>
                        <!-- Project Card 7-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">IOT</h2>
                                        <p>Te ofrecemos los mejores equipos y sistemas con la más reciente tecnología para hacer de tu hogar un sistema inteligente en la palma de tu mano con IoT y los sistemas Smart-Home. </p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/SmartHome/smart45.jpg" alt="Smart-Home" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 6-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="energia">Energía</h2>
                        </div>
                        <!-- Project Card 5-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Páneles Solares</h2>
                                        <p>Entra en el mercado de la energía limpia. Ponemos a tu alcance las mejores marcas del mercado para que contribuyas al medio ambiente con las energías renovables.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/energia/panel45.jpg" alt="energia" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 7-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="software">Software</h2>
                        </div>
                        <!--Software-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Licencias de Software</h2>
                                        <p>Manejamos una amplía gama de licenciamiento para los mejores softwares. Saca el mayor provecho de las mejores herramientas con instalaciones originales. 
                                            Desde sistemas operativos para computadoras y servidores hasta herramientas de diseño.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="assets/img/software/software45.jpg" alt="Software" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 8-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="hardware">Hardware</h2>
                        </div>
                        <!-- Computo-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Cómputo</h2>
                                        <p>No dejes que la tecnología te supere, brindamos para ti y tu equipo los mejores equipos de cómputo con las mejores características para realizar sus tareas. 
                                            También te brindamos el mejor servicio de mantenimiento preventivo y correctivo para alargar la vida de tus equipos. </p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/hardware/hardware145.jpg" alt="Hardware" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 9-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="asesoria">Asesoría y Proyectos TI</h2>
                        </div>
                        <!--Servicios Administrados-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Servicios Administrados</h2>
                                        <p>Tener un propio departamento soporte técnico no siempre es posible. Nosotros queremos crecer contigo, ponemos a tu alcance diferentes servicios que van desde el equipamiento y 
                                            mantenimiento de computadoras hasta levantamiento de sitios web y correo profesional. </p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/serviciosadministrados/administrado45.jpg" alt="Servicios Administrados" />
                                </div>
                            </div>
                        </div>
                        <!-- Apartado 10-->
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0" id="cloud">Cloud Computing</h2>
                        </div>
                        <!--Servidores-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Servidores</h2>
                                        <p>En colaboración con las mejores marcas ponemos a tu alcance las mejores soluciones para tu centro de datos, 
                                            te brindamos los mejores servidores de almacenamiento y de información, para que tu equipo crezca a la par de tu negocio.</p>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                                    </div>
                                    <img class="img-fluid" src="/assets/img/cableado/bancodedagtos45.jpg" alt="Servidores" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4"></h2>
                    <p>En Jaknet siempre estamos preparados para solucionar cualquier tipo de problema. Contactanos para mas información sobre algún servicio o producto . </p>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contacto">Contáctanos</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; Jaknet</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
