select{
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    margin-left: .5em;
    margin-right: .5em;
    width: 92%;
    height: 100%;
    font-weight: 500;
    color: #000000;
    border: none;
    padding-left: .8em;
    padding-right: .8em;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

.dark-mode .select{
  background-color:#4a4141 ;
  color: white;
}
